<nav class=" navbg">
  <h1 class="height">
    Daraz
  </h1>
  <h1 style="color: white;" class="height">
    Hunter
  </h1>

</nav>

<div class="wrapper">
  <div class="sidebar">

    <ul>
      <li><a routerLink="Listing_grader" routerLinkActive="active">Listing Grader</a></li>
      <li><a routerLink="product/database" routerLinkActive="active">Product Database</a></li>
      <li><a routerLink="keyword_finder" routerLinkActive="active">Keyword Finder</a></li>
    
      <li><a routerLink="Opurtunity_finder" routerLinkActive="active">Opurtunity Finder</a></li>
    </ul>
  </div>

</div>

<div class="container">
  
  <router-outlet></router-outlet>
</div>